@import url('https://fonts.cdnfonts.com/css/satoshi');

@import "tailwindcss";

@theme {
    --text-xs: clamp(0.5rem, 0.6rem + 0.3vw, 1.5rem);
    --text-base: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
    --text-lg: clamp(1.125rem, 1rem + 0.5vw, 1.5rem);
    --text-xl: clamp(1.25rem, 1.1rem + 0.75vw, 1.875rem);
    --text-2xl: clamp(1.5rem, 1.2rem + 1.25vw, 2.25rem);
    --text-3xl: clamp(1.875rem, 1.5rem + 1.875vw, 3rem);
    --text-4xl: clamp(2.25rem, 1.75rem + 2.5vw, 3.75rem);
    --text-5xl: clamp(1.7rem, 1.4rem + 2vw, 4.5rem);
}

@layer base {
    h1, .heading-1 {
        @apply text-5xl font-bold tracking-tight;
    }

    h2, .heading-2 {
        @apply text-4xl font-bold tracking-tight;
    }

    h3, .heading-3 {
        @apply text-3xl font-bold tracking-tight;
    }

    h4, .heading-4 {
        @apply text-2xl font-bold tracking-tight;
    }

    h5, .heading-5 {
        @apply text-xl font-bold tracking-tight;
    }

    .body-large {
        @apply text-lg leading-relaxed;
    }

    .body {
        @apply text-base leading-relaxed;
    }

    .body-small {
        @apply text-xs leading-relaxed;
    }

    .site-x-padding {
        @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-24;
    }

    .site-y-padding {
        @apply py-6 sm:py-10 md:py-16 lg:py-20 xl:py-24;
    }
}

@font-face {
    font-family: "tanPearl";
    src: url("../public/fonts/tan-pearl.otf") format("opentype");
}

:root {
    --font-special-heading: "tanPearl", sans-serif;
    --color-blue: #ADD8E6;
    --color-blue-accent: #1D4D5D;

    --color-pink: #FFADB9;
    --color-pink-accent: #A3001B;

    --color-purple: #B99DCE;
    --color-purple-accent: #603D7B;

    --color-orange: #F8BA77;
    --color-orange-accent: #884A07;

    --color-darkblue: #89BDEB;
    --color-darkblue-accent: #2C6A8C;

    --color-offwhite: #F2F0EF;
}

.special-heading {
    font-family: var(--font-special-heading)!important;
    font-style: italic;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Satoshi', sans-serif;
}

* {
    box-sizing: border-box;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee-content {
    display: flex;
    animation: marquee 5s linear infinite;
    width: fit-content;
}

.marquee-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-right: 2.5rem;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

[data-slider] {
    display: flex;
    overflow: hidden;
}

[data-slider] > * {
    flex-shrink: 0;
    width: 100%;
}