@import url('https://fonts.cdnfonts.com/css/satoshi');

@import "tailwindcss";

@layer base {
    .site-x-padding {
        @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-24;
    }

    .site-y-padding {
        @apply py-6 sm:py-10 md:py-16 lg:py-20 xl:py-24;
    }

    .site-text-size {
        @apply text-[12px] sm:text-sm md:text-base lg:text-xl;
    }
}

@font-face {
    font-family: "tanPearl";
    src: url("../public/fonts/tan-pearl.otf") format("opentype");
}

:root {
    --font-special-heading: "tanPearl", sans-serif;
    --color-blue: #ADD8E6;
    --color-blue-accent: #1D4D5D;

    --color-pink: #FFADB9;
    --color-pink-accent: #A3001B;

    --color-purple: #B99DCE;
    --color-purple-accent: #603D7B;

    --color-orange: #F8BA77;
    --color-orange-accent: #884A07;

    --color-darkblue: #89BDEB;
    --color-darkblue-accent: #2C6A8C;

    --color-offwhite: #F2F0EF;
}

.special-heading {
    font-family: var(--font-special-heading)!important;
    font-style: italic;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Satoshi', sans-serif;
}

* {
    box-sizing: border-box;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee-inner {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 5s linear infinite;
}

.marquee-inner span {
    display: inline-block;
    padding-right: 2rem;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

[data-slider] {
    display: flex;
    overflow: hidden;
}

[data-slider] > * {
    flex-shrink: 0;
    width: 100%;
}